 <div class="row item-container">
    <div class="col-sm-3">
        <img src="{{picture}}" alt="{{name}}" width="200">
    </div>
    <div class="col-sm-6">
        <div class="item-name">{{name}}</div>
        <div class="item-description">{{{description}}}</div>
    </div>
    <div class="col-sm-3">
        <div class="item-price">{{price}}</div>
    </div>
</div>