<div class="row">
    <div class="col-sm-3">
        <img src="{{picture}}" alt="{{name}}" class="item-picture">
    </div>
    <div class="col-sm-6">
        <div><h3>{{name}}</h3></div>
        <div>{{{description}}}</div>
    </div>
    <div class="col-sm-3 vertically-centered item-price">
        <h3>{{price}}</h3>
    </div>
</div>