ul {
    list-style-type: none;
}

body {
    padding-top: 50px;
    position: relative;
}

.item-picture-container {
    text-align: center;
}

.item-picture {
    width: 100%;
    max-width: 400px;
}

.item-price {
    font-weight: bold;
    color: #b12704;
}

.footer {
    text-align: center;
}

.vertically-centered {
     display: inline-block;
     vertical-align: middle;
     float: none;
}

.hd-picture-link {
    display: inline-flex;
    text-decoration: none !important;
    color: black;
}

.sales-footer {
    padding-bottom: 5px;
    text-align: center;
}